<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="titulo">Tarjeta de Crédito</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">{{accion}}</h5>
                    <form [formGroup]="form" (submit)="agregarTarjeta()">
                        <div class="form-row align-items-center">
                            <div class="col-sm-12 my-1">
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-user"
                                                [class.green-icon]="this.form.get('titular')?.valid"
                                                [class.red-icon]="this.form.get('titular')?.invalid && this.form.get('titular')?.touched"></i>
                                        </div>
                                    </div>
                                    <input formControlName="titular" type="text" class="form-control" id="titular" placeholder="Titular">
                                </div>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm-12 my-1">
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-credit-card"
                                            [class.green-icon]="this.form.get('numeroTarjeta')?.valid"
                                            [class.red-icon]="this.form.get('numeroTarjeta')?.invalid && this.form.get('numeroTarjeta')?.touched"></i>
                                        </div>
                                    </div>
                                    <input formControlName="numeroTarjeta" maxlength="16" minlength="16" type="text" class="form-control" id="titular" placeholder="Número de Tarjeta">
                                </div>
                            </div>
                        </div>
                        <div class="form-row align-items-center">
                            <div class="col-sm-7 my-1">
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-calendar-alt"
                                            [class.green-icon]="this.form.get('fechaExpiracion')?.valid"
                                            [class.red-icon]="this.form.get('fechaExpiracion')?.invalid && this.form.get('fechaExpiracion')?.touched"></i>
                                        </div>
                                    </div>
                                    <input formControlName="fechaExpiracion" maxlength="5" minlength="5" type="text" class="form-control" id="titular" placeholder="MM/YY">
                                </div>
                            </div>
                            <div class="col-sm-5 my-1">
                                <div class="input-group input-group-lg mb-3">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-key" 
                                            [class.green-icon]="this.form.get('cvv')?.valid"
                                            [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched"></i>
                                        </div>
                                    </div>
                                    <input formControlName="cvv" maxlength="3" minlength="3" type="password" class="form-control" id="titular" placeholder="CVV">
                                </div>
                            </div>
                        </div>
                        <button type="submit" [disabled]="this.form.invalid" class="btn btn-success btn-lg btn-block">Aceptar</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Listado de Tarjetas</h5>
                    <table class="table">
                        <tbody>
                            <tr *ngFor="let item of listTarjeta">
                                <td>{{item.titular}}</td>
                                <td>{{item.numeroTarjeta}}</td>
                                <td>{{item.fechaExpiracion}}</td>
                                <td>
                                    <i (click)="editarTarjeta(item)" class="far fa-edit text-info"></i>
                                </td>
                                <td>
                                    <i (click)="eliminarTarjeta(item.id)" class="far fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>